@import "./node_modules/bulma/sass/utilities/initial-variables";

$blue: #6190E8;
$green: #5BD3B8;
$primary: $green;
$danger: #F2BE64;
$gap: 30px;

$size-1: 1.5rem; //26
$size-2: 1.25rem; //20
$size-3: 1.125rem; //18
$size-4: 1rem; //16
$size-5: 0.875rem; //14
$size-6: 0.75rem; //12
$size-7: 0.625rem; //10

$size-normal: $size-4;
$border: #d8d8d8;
$tabs-link-active-color: $blue;
$tabs-link-active-border-bottom-color: $blue;

body {
  background-color: #F9F7F9;
}

.tile .is-parent .is-child{
  background-color: white;
}

.notification .tile {
  background-color: white !important;
  // box-shadow: 0 0 0.5px 0 #dbdbdb;
}
.no-padding {
  padding: 0px !important;
}
.is-card {
  background-color: white !important;
  border-style: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  flex-direction: column;
}
.top-spacer {
  height: 30px;
  width: 100%;
}
.circle {
	width: 12px;
	height: 12px;
	background-color: $green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  margin-right: 3px;
}
.circle-big {
  display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #d0011b;
	-moz-border-radius: 50px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  margin-left: 5px;
  color: white;
  text-align: center;
  font-size: $size-4;
}
.white-box {
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  color: #4a4a4a;
}

// 4. Import the rest of Bulma
@import "./node_modules/bulma/bulma.sass";
